{"swagger": "2.0", "info": {"title": "Nur CRM API", "description": "API для проекта Nur CRM", "termsOfService": "#", "contact": {"email": "support@NurCRM.com"}, "license": {"name": "Nur CRM License"}, "version": "v1"}, "host": "app.nurcrm.kg", "schemes": ["https"], "basePath": "/api", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"Token": {"type": "apiKey", "name": "Authorization", "in": "header"}}, "security": [{"Token": []}], "paths": {"/barbershop/analytics/": {"get": {"operationId": "barbershop_analytics_list", "summary": "Общая аналитика по барбершопу (по компании/филиалу).", "description": "Query params:\n  - date_from: YYYY-MM-DD (опционально)\n  - date_to: YYYY-MM-DD (опционально)\n  - branch: UUID (опционально, учитывается CompanyQuerysetMixin)", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/BarberAnalyticsResponse"}}}}}}, "tags": ["barbershop"]}, "parameters": []}, "/barbershop/analytics/my/": {"get": {"operationId": "barbershop_analytics_my_list", "summary": "Аналитика мастера (только по своим записям).", "description": "Query params:\n  - date_from: YYYY-MM-DD (опционально)\n  - date_to: YYYY-MM-DD (опционально)\n  - branch: UUID (опционально, учитывается CompanyQuerysetMixin)", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/BarberAnalyticsResponse"}}}}}}, "tags": ["barbershop"]}, "parameters": []}, "/barbershop/appointments/": {"get": {"operationId": "barbershop_appointments_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Appointment"}}}}}}, "tags": ["barbershop"]}, "post": {"operationId": "barbershop_appointments_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Appointment"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Appointment"}}}, "tags": ["barbershop"]}, "parameters": []}, "/barbershop/appointments/my/": {"get": {"operationId": "barbershop_appointments_my_list", "description": "Эндпоинт \"мои записи\" — возвращает только записи, где текущий пользователь = barber.", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Appointment"}}}}}}, "tags": ["barbershop"]}, "parameters": []}, "/barbershop/appointments/my/{id}/": {"get": {"operationId": "barbershop_appointments_my_read", "description": "Эндпоинт \"моя запись\" — детальный просмотр только своих записей.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Appointment"}}}, "tags": ["barbershop"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Запись.", "required": true, "type": "string", "format": "uuid"}]}, "/barbershop/appointments/{id}/": {"get": {"operationId": "barbershop_appointments_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Appointment"}}}, "tags": ["barbershop"]}, "put": {"operationId": "barbershop_appointments_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Appointment"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Appointment"}}}, "tags": ["barbershop"]}, "patch": {"operationId": "barbershop_appointments_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Appointment"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Appointment"}}}, "tags": ["barbershop"]}, "delete": {"operationId": "barbershop_appointments_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["barbershop"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Запись.", "required": true, "type": "string", "format": "uuid"}]}, "/barbershop/bookings/": {"get": {"operationId": "barbershop_bookings_list", "description": "Список заявок на онлайн запись (только для авторизованных пользователей компании).\nGET /api/barbershop/bookings/", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/OnlineBooking"}}}}}}, "tags": ["barbershop"]}, "parameters": []}, "/barbershop/bookings/{id}/": {"get": {"operationId": "barbershop_bookings_read", "description": "Детали заявки.\nGET /api/barbershop/bookings/{pk}/", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/OnlineBooking"}}}, "tags": ["barbershop"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Онлайн заявка.", "required": true, "type": "string", "format": "uuid"}]}, "/barbershop/bookings/{id}/status/": {"put": {"operationId": "barbershop_bookings_status_update", "description": "Изменение статуса заявки.\nPATCH /api/barbershop/bookings/{pk}/status/", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/OnlineBookingStatusUpdate"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/OnlineBookingStatusUpdate"}}}, "tags": ["barbershop"]}, "patch": {"operationId": "barbershop_bookings_status_partial_update", "description": "Изменение статуса заявки.\nPATCH /api/barbershop/bookings/{pk}/status/", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/OnlineBookingStatusUpdate"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/OnlineBookingStatusUpdate"}}}, "tags": ["barbershop"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Онлайн заявка.", "required": true, "type": "string", "format": "uuid"}]}, "/barbershop/clients/": {"get": {"operationId": "barbershop_clients_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/BarberClient"}}}}}}, "tags": ["barbershop"]}, "post": {"operationId": "barbershop_clients_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BarberClient"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BarberClient"}}}, "tags": ["barbershop"]}, "parameters": []}, "/barbershop/clients/{client_pk}/documents/{id}/": {"get": {"operationId": "barbershop_clients_documents_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BarberClientDocument"}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["barbershop"]}, "put": {"operationId": "barbershop_clients_documents_update", "description": "", "parameters": [{"name": "file", "in": "formData", "required": false, "type": "file", "x-nullable": true}, {"name": "file_comment", "in": "formData", "required": false, "type": "string", "x-nullable": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BarberClientDocument"}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["barbershop"]}, "patch": {"operationId": "barbershop_clients_documents_partial_update", "description": "", "parameters": [{"name": "file", "in": "formData", "required": false, "type": "file", "x-nullable": true}, {"name": "file_comment", "in": "formData", "required": false, "type": "string", "x-nullable": true}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BarberClientDocument"}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["barbershop"]}, "delete": {"operationId": "barbershop_clients_documents_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["barbershop"]}, "parameters": [{"name": "client_pk", "in": "path", "required": true, "type": "string"}, {"name": "id", "in": "path", "description": "A UUID string identifying this Документ клиента.", "required": true, "type": "string", "format": "uuid"}]}, "/barbershop/clients/{id}/": {"get": {"operationId": "barbershop_clients_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BarberClient"}}}, "tags": ["barbershop"]}, "put": {"operationId": "barbershop_clients_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BarberClient"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BarberClient"}}}, "tags": ["barbershop"]}, "patch": {"operationId": "barbershop_clients_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BarberClient"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BarberClient"}}}, "tags": ["barbershop"]}, "delete": {"operationId": "barbershop_clients_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["barbershop"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Клиент.", "required": true, "type": "string", "format": "uuid"}]}, "/barbershop/clients/{id}/documents/": {"get": {"operationId": "barbershop_clients_documents_list", "description": "", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/BarberClientDocument"}}}}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["barbershop"]}, "post": {"operationId": "barbershop_clients_documents_create", "description": "", "parameters": [{"name": "file", "in": "formData", "required": false, "type": "file", "x-nullable": true}, {"name": "file_comment", "in": "formData", "required": false, "type": "string", "x-nullable": true}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BarberClientDocument"}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["barbershop"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Документ клиента.", "required": true, "type": "string", "format": "uuid"}]}, "/barbershop/clients/{id}/visits/history/": {"get": {"operationId": "barbershop_clients_visits_history_list", "summary": "История визитов конкретного клиента.", "description": "GET /api/barbershop/clients/<uuid:pk>/visits/history/\n  - по умолчанию возвращает только \"исторические\" статусы: completed/canceled/no_show\n  - можно переопределить через ?status=... или ?status__in=...\n  - можно ограничить по дате: ?start_at_from=...&start_at_to=...", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Appointment"}}}}}}, "tags": ["barbershop"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Запись.", "required": true, "type": "string", "format": "uuid"}]}, "/barbershop/documents/": {"get": {"operationId": "barbershop_documents_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/BarberDocument"}}}}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["barbershop"]}, "post": {"operationId": "barbershop_documents_create", "description": "", "parameters": [{"name": "name", "in": "formData", "required": false, "type": "string", "maxLength": 255}, {"name": "file", "in": "formData", "required": true, "type": "file"}, {"name": "folder", "in": "formData", "required": true, "type": "string", "format": "uuid"}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BarberDocument"}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["barbershop"]}, "parameters": []}, "/barbershop/documents/{id}/": {"get": {"operationId": "barbershop_documents_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BarberDocument"}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["barbershop"]}, "put": {"operationId": "barbershop_documents_update", "description": "", "parameters": [{"name": "name", "in": "formData", "required": false, "type": "string", "maxLength": 255}, {"name": "file", "in": "formData", "required": true, "type": "file"}, {"name": "folder", "in": "formData", "required": true, "type": "string", "format": "uuid"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BarberDocument"}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["barbershop"]}, "patch": {"operationId": "barbershop_documents_partial_update", "description": "", "parameters": [{"name": "name", "in": "formData", "required": false, "type": "string", "maxLength": 255}, {"name": "file", "in": "formData", "required": true, "type": "file"}, {"name": "folder", "in": "formData", "required": true, "type": "string", "format": "uuid"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BarberDocument"}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["barbershop"]}, "delete": {"operationId": "barbershop_documents_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["barbershop"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Документ.", "required": true, "type": "string", "format": "uuid"}]}, "/barbershop/folders/": {"get": {"operationId": "barbershop_folders_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/BarberFolder"}}}}}}, "tags": ["barbershop"]}, "post": {"operationId": "barbershop_folders_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BarberFolder"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BarberFolder"}}}, "tags": ["barbershop"]}, "parameters": []}, "/barbershop/folders/{id}/": {"get": {"operationId": "barbershop_folders_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BarberFolder"}}}, "tags": ["barbershop"]}, "put": {"operationId": "barbershop_folders_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BarberFolder"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BarberFolder"}}}, "tags": ["barbershop"]}, "patch": {"operationId": "barbershop_folders_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BarberFolder"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BarberFolder"}}}, "tags": ["barbershop"]}, "delete": {"operationId": "barbershop_folders_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["barbershop"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Папка.", "required": true, "type": "string", "format": "uuid"}]}, "/barbershop/payouts/": {"get": {"operationId": "barbershop_payouts_list", "description": "GET  /api/barber/payouts/        – список выплат (по компании/филиалу, с фильтрами)\nPOST /api/barber/payouts/        – создать выплату + авторасчёт суммы", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Payout"}}}}}}, "tags": ["barbershop"]}, "post": {"operationId": "barbershop_payouts_create", "description": "GET  /api/barber/payouts/        – список выплат (по компании/филиалу, с фильтрами)\nPOST /api/barber/payouts/        – создать выплату + авторасчёт суммы", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Payout"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Payout"}}}, "tags": ["barbershop"]}, "parameters": []}, "/barbershop/payouts/{id}/": {"get": {"operationId": "barbershop_payouts_read", "description": "GET    /api/barber/payouts/<uuid:pk>/   – одна выплата\nPATCH  /api/barber/payouts/<uuid:pk>/   – изменить (например, комментарий/ставку)\nDELETE /api/barber/payouts/<uuid:pk>/   – удалить", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Payout"}}}, "tags": ["barbershop"]}, "put": {"operationId": "barbershop_payouts_update", "description": "GET    /api/barber/payouts/<uuid:pk>/   – одна выплата\nPATCH  /api/barber/payouts/<uuid:pk>/   – изменить (например, комментарий/ставку)\nDELETE /api/barber/payouts/<uuid:pk>/   – удалить", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Payout"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Payout"}}}, "tags": ["barbershop"]}, "patch": {"operationId": "barbershop_payouts_partial_update", "description": "GET    /api/barber/payouts/<uuid:pk>/   – одна выплата\nPATCH  /api/barber/payouts/<uuid:pk>/   – изменить (например, комментарий/ставку)\nDELETE /api/barber/payouts/<uuid:pk>/   – удалить", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Payout"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Payout"}}}, "tags": ["barbershop"]}, "delete": {"operationId": "barbershop_payouts_delete", "description": "GET    /api/barber/payouts/<uuid:pk>/   – одна выплата\nPATCH  /api/barber/payouts/<uuid:pk>/   – изменить (например, комментарий/ставку)\nDELETE /api/barber/payouts/<uuid:pk>/   – удалить", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["barbershop"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Выплата сотруднику.", "required": true, "type": "string", "format": "uuid"}]}, "/barbershop/product-sale-payouts/": {"get": {"operationId": "barbershop_product-sale-payouts_list", "description": "GET  /api/barber/product-sale-payouts/  – список начислений с процента от товара\nPOST /api/barber/product-sale-payouts/  – создать одно начисление (по форме модалки)", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ProductSalePayout"}}}}}}, "tags": ["barbershop"]}, "post": {"operationId": "barbershop_product-sale-payouts_create", "description": "GET  /api/barber/product-sale-payouts/  – список начислений с процента от товара\nPOST /api/barber/product-sale-payouts/  – создать одно начисление (по форме модалки)", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProductSalePayout"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ProductSalePayout"}}}, "tags": ["barbershop"]}, "parameters": []}, "/barbershop/product-sale-payouts/{id}/": {"get": {"operationId": "barbershop_product-sale-payouts_read", "description": "GET    /api/barber/product-sale-payouts/<uuid:pk>/   – одно начисление\nPATCH  /api/barber/product-sale-payouts/<uuid:pk>/   – можно править процент/цену/комментарий\nDELETE /api/barber/product-sale-payouts/<uuid:pk>/   – удалить начисление", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProductSalePayout"}}}, "tags": ["barbershop"]}, "put": {"operationId": "barbershop_product-sale-payouts_update", "description": "GET    /api/barber/product-sale-payouts/<uuid:pk>/   – одно начисление\nPATCH  /api/barber/product-sale-payouts/<uuid:pk>/   – можно править процент/цену/комментарий\nDELETE /api/barber/product-sale-payouts/<uuid:pk>/   – удалить начисление", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProductSalePayout"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProductSalePayout"}}}, "tags": ["barbershop"]}, "patch": {"operationId": "barbershop_product-sale-payouts_partial_update", "description": "GET    /api/barber/product-sale-payouts/<uuid:pk>/   – одно начисление\nPATCH  /api/barber/product-sale-payouts/<uuid:pk>/   – можно править процент/цену/комментарий\nDELETE /api/barber/product-sale-payouts/<uuid:pk>/   – удалить начисление", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProductSalePayout"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProductSalePayout"}}}, "tags": ["barbershop"]}, "delete": {"operationId": "barbershop_product-sale-payouts_delete", "description": "GET    /api/barber/product-sale-payouts/<uuid:pk>/   – одно начисление\nPATCH  /api/barber/product-sale-payouts/<uuid:pk>/   – можно править процент/цену/комментарий\nDELETE /api/barber/product-sale-payouts/<uuid:pk>/   – удалить начисление", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["barbershop"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Процент от продажи товара.", "required": true, "type": "string", "format": "uuid"}]}, "/barbershop/public/{company_slug}/bookings/": {"post": {"operationId": "barbershop_public_bookings_create", "description": "Публичный эндпоинт для создания заявки на онлайн запись.\nДоступен без авторизации, но требует slug компании в URL.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/OnlineBookingCreate"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/OnlineBookingCreate"}}}, "tags": ["barbershop"]}, "parameters": [{"name": "company_slug", "in": "path", "required": true, "type": "string"}]}, "/barbershop/public/{company_slug}/masters/": {"get": {"operationId": "barbershop_public_masters_list", "description": "Публичный эндпоинт для получения мастеров компании.\nДоступен без авторизации, требует slug компании в URL.", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/PublicMaster"}}}}}}, "tags": ["barbershop"]}, "parameters": [{"name": "company_slug", "in": "path", "required": true, "type": "string"}]}, "/barbershop/public/{company_slug}/masters/availability/": {"get": {"operationId": "barbershop_public_masters_availability_list", "description": "Публичный эндпоинт для получения доступности всех мастеров на дату.", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": ""}}, "tags": ["barbershop"]}, "parameters": [{"name": "company_slug", "in": "path", "required": true, "type": "string"}]}, "/barbershop/public/{company_slug}/masters/{master_id}/schedule/": {"get": {"operationId": "barbershop_public_masters_schedule_list", "description": "Публичный эндпоинт для получения занятых слотов мастера.", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/PublicMasterSchedule"}}}}}}, "tags": ["barbershop"]}, "parameters": [{"name": "company_slug", "in": "path", "required": true, "type": "string"}, {"name": "master_id", "in": "path", "required": true, "type": "string"}]}, "/barbershop/public/{company_slug}/service-categories/": {"get": {"operationId": "barbershop_public_service-categories_list", "description": "Публичный эндпоинт для получения категорий услуг с услугами.\nДоступен без авторизации, требует slug компании в URL.", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/PublicServiceCategory"}}}}}}, "tags": ["barbershop"]}, "parameters": [{"name": "company_slug", "in": "path", "required": true, "type": "string"}]}, "/barbershop/public/{company_slug}/services/": {"get": {"operationId": "barbershop_public_services_list", "description": "Публичный эндпоинт для получения услуг компании.\nДоступен без авторизации, требует slug компании в URL.", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/PublicService"}}}}}}, "tags": ["barbershop"]}, "parameters": [{"name": "company_slug", "in": "path", "required": true, "type": "string"}]}, "/barbershop/sale-payouts/": {"get": {"operationId": "barbershop_sale-payouts_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/PayoutSale"}}}}}}, "tags": ["barbershop"]}, "post": {"operationId": "barbershop_sale-payouts_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PayoutSale"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/PayoutSale"}}}, "tags": ["barbershop"]}, "parameters": []}, "/barbershop/sale-payouts/{id}/": {"get": {"operationId": "barbershop_sale-payouts_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PayoutSale"}}}, "tags": ["barbershop"]}, "put": {"operationId": "barbershop_sale-payouts_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PayoutSale"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PayoutSale"}}}, "tags": ["barbershop"]}, "patch": {"operationId": "barbershop_sale-payouts_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PayoutSale"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PayoutSale"}}}, "tags": ["barbershop"]}, "delete": {"operationId": "barbershop_sale-payouts_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["barbershop"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Фонд продаж за период.", "required": true, "type": "string", "format": "uuid"}]}, "/barbershop/service-categories/": {"get": {"operationId": "barbershop_service-categories_list", "description": "GET  /api/barber/service-categories/      – список категорий (по компании/филиалу)\nPOST /api/barber/service-categories/      – создать категорию услуги", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ServiceCategory"}}}}}}, "tags": ["barbershop"]}, "post": {"operationId": "barbershop_service-categories_create", "description": "GET  /api/barber/service-categories/      – список категорий (по компании/филиалу)\nPOST /api/barber/service-categories/      – создать категорию услуги", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ServiceCategory"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ServiceCategory"}}}, "tags": ["barbershop"]}, "parameters": []}, "/barbershop/service-categories/{id}/": {"get": {"operationId": "barbershop_service-categories_read", "description": "GET    /api/barber/service-categories/<uuid:pk>/   – одна категория\nPATCH  /api/barber/service-categories/<uuid:pk>/   – обновить\nDELETE /api/barber/service-categories/<uuid:pk>/   – удалить", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ServiceCategory"}}}, "tags": ["barbershop"]}, "put": {"operationId": "barbershop_service-categories_update", "description": "GET    /api/barber/service-categories/<uuid:pk>/   – одна категория\nPATCH  /api/barber/service-categories/<uuid:pk>/   – обновить\nDELETE /api/barber/service-categories/<uuid:pk>/   – удалить", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ServiceCategory"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ServiceCategory"}}}, "tags": ["barbershop"]}, "patch": {"operationId": "barbershop_service-categories_partial_update", "description": "GET    /api/barber/service-categories/<uuid:pk>/   – одна категория\nPATCH  /api/barber/service-categories/<uuid:pk>/   – обновить\nDELETE /api/barber/service-categories/<uuid:pk>/   – удалить", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ServiceCategory"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ServiceCategory"}}}, "tags": ["barbershop"]}, "delete": {"operationId": "barbershop_service-categories_delete", "description": "GET    /api/barber/service-categories/<uuid:pk>/   – одна категория\nPATCH  /api/barber/service-categories/<uuid:pk>/   – обновить\nDELETE /api/barber/service-categories/<uuid:pk>/   – удалить", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["barbershop"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Категория услуги.", "required": true, "type": "string", "format": "uuid"}]}, "/barbershop/services/": {"get": {"operationId": "barbershop_services_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Service"}}}}}}, "tags": ["barbershop"]}, "post": {"operationId": "barbershop_services_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Service"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Service"}}}, "tags": ["barbershop"]}, "parameters": []}, "/barbershop/services/{id}/": {"get": {"operationId": "barbershop_services_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Service"}}}, "tags": ["barbershop"]}, "put": {"operationId": "barbershop_services_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Service"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Service"}}}, "tags": ["barbershop"]}, "patch": {"operationId": "barbershop_services_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Service"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Service"}}}, "tags": ["barbershop"]}, "delete": {"operationId": "barbershop_services_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["barbershop"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Услуга.", "required": true, "type": "string", "format": "uuid"}]}, "/barbershop/visits/history/": {"get": {"operationId": "barbershop_visits_history_list", "summary": "Общая история визитов (по всем клиентам).", "description": "GET /api/barbershop/visits/history/\n  - по умолчанию возвращает только \"исторические\" статусы: completed/canceled/no_show\n  - можно переопределить через ?status=... или ?status__in=...\n  - можно ограничить по дате: ?start_at_from=...&start_at_to=...\n  - можно фильтровать по мастеру/клиенту: ?barber=<uuid>&client=<uuid>", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/AppointmentHistoryRow"}}}}}}, "tags": ["barbershop"]}, "parameters": []}, "/booking/beds/": {"get": {"operationId": "booking_beds_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Bed"}}}}}}, "tags": ["booking"]}, "post": {"operationId": "booking_beds_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Bed"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Bed"}}}, "tags": ["booking"]}, "parameters": []}, "/booking/beds/{id}/": {"get": {"operationId": "booking_beds_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Bed"}}}, "tags": ["booking"]}, "put": {"operationId": "booking_beds_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Bed"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Bed"}}}, "tags": ["booking"]}, "patch": {"operationId": "booking_beds_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Bed"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Bed"}}}, "tags": ["booking"]}, "delete": {"operationId": "booking_beds_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["booking"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Койко-место.", "required": true, "type": "string", "format": "uuid"}]}, "/booking/booking/clients/{client_id}/history/": {"get": {"operationId": "booking_booking_clients_history_list", "description": "/booking/clients/<uuid:client_id>/history/", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/BookingHistory"}}}}}}, "tags": ["booking"]}, "parameters": [{"name": "client_id", "in": "path", "required": true, "type": "string"}]}, "/booking/booking/history/": {"get": {"operationId": "booking_booking_history_list", "description": "/booking/history/\nИстория (архив) всех бронирований компании.", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/BookingHistory"}}}}}}, "tags": ["booking"]}, "parameters": []}, "/booking/bookings/": {"get": {"operationId": "booking_bookings_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/BookingBooking"}}}}}}, "tags": ["booking"]}, "post": {"operationId": "booking_bookings_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BookingBooking"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BookingBooking"}}}, "tags": ["booking"]}, "parameters": []}, "/booking/bookings/{id}/": {"get": {"operationId": "booking_bookings_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BookingBooking"}}}, "tags": ["booking"]}, "put": {"operationId": "booking_bookings_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BookingBooking"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BookingBooking"}}}, "tags": ["booking"]}, "patch": {"operationId": "booking_bookings_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BookingBooking"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BookingBooking"}}}, "tags": ["booking"]}, "delete": {"operationId": "booking_bookings_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["booking"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Бронирование.", "required": true, "type": "string", "format": "uuid"}]}, "/booking/clients/": {"get": {"operationId": "booking_clients_list", "description": "", "parameters": [{"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/BookingClient"}}}}}}, "tags": ["booking"]}, "post": {"operationId": "booking_clients_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BookingClient"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BookingClient"}}}, "tags": ["booking"]}, "parameters": []}, "/booking/clients/{id}/": {"get": {"operationId": "booking_clients_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BookingClient"}}}, "tags": ["booking"]}, "put": {"operationId": "booking_clients_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BookingClient"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BookingClient"}}}, "tags": ["booking"]}, "patch": {"operationId": "booking_clients_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BookingClient"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BookingClient"}}}, "tags": ["booking"]}, "delete": {"operationId": "booking_clients_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["booking"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Клиент (бронь).", "required": true, "type": "string", "format": "uuid"}]}, "/booking/clients/{id}/bookings/": {"get": {"operationId": "booking_clients_bookings_list", "description": "/clients/<uuid:pk>/bookings/\nGET  — список броней клиента\nPOST — создать бронь этому клиенту (client и company проставляются автоматически)", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/BookingBooking"}}}}}}, "tags": ["booking"]}, "post": {"operationId": "booking_clients_bookings_create", "description": "/clients/<uuid:pk>/bookings/\nGET  — список броней клиента\nPOST — создать бронь этому клиенту (client и company проставляются автоматически)", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BookingBooking"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BookingBooking"}}}, "tags": ["booking"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Бронирование.", "required": true, "type": "string", "format": "uuid"}]}, "/booking/documents/": {"get": {"operationId": "booking_documents_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/BookingDocumentSerializer"}}}}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["booking"]}, "post": {"operationId": "booking_documents_create", "description": "", "parameters": [{"name": "name", "in": "formData", "required": false, "type": "string", "maxLength": 255}, {"name": "file", "in": "formData", "required": true, "type": "file"}, {"name": "folder", "in": "formData", "required": true, "type": "string", "format": "uuid"}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BookingDocumentSerializer"}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["booking"]}, "parameters": []}, "/booking/documents/{id}/": {"get": {"operationId": "booking_documents_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BookingDocumentSerializer"}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["booking"]}, "put": {"operationId": "booking_documents_update", "description": "", "parameters": [{"name": "name", "in": "formData", "required": false, "type": "string", "maxLength": 255}, {"name": "file", "in": "formData", "required": true, "type": "file"}, {"name": "folder", "in": "formData", "required": true, "type": "string", "format": "uuid"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BookingDocumentSerializer"}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["booking"]}, "patch": {"operationId": "booking_documents_partial_update", "description": "", "parameters": [{"name": "name", "in": "formData", "required": false, "type": "string", "maxLength": 255}, {"name": "file", "in": "formData", "required": true, "type": "file"}, {"name": "folder", "in": "formData", "required": true, "type": "string", "format": "uuid"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BookingDocumentSerializer"}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["booking"]}, "delete": {"operationId": "booking_documents_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["booking"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Документ.", "required": true, "type": "string", "format": "uuid"}]}, "/booking/folders/": {"get": {"operationId": "booking_folders_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Folder"}}}}}}, "tags": ["booking"]}, "post": {"operationId": "booking_folders_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Folder"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Folder"}}}, "tags": ["booking"]}, "parameters": []}, "/booking/folders/{id}/": {"get": {"operationId": "booking_folders_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Folder"}}}, "tags": ["booking"]}, "put": {"operationId": "booking_folders_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Folder"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Folder"}}}, "tags": ["booking"]}, "patch": {"operationId": "booking_folders_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Folder"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Folder"}}}, "tags": ["booking"]}, "delete": {"operationId": "booking_folders_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["booking"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Папка.", "required": true, "type": "string", "format": "uuid"}]}, "/booking/hotels/": {"get": {"operationId": "booking_hotels_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Hotel"}}}}}}, "tags": ["booking"]}, "post": {"operationId": "booking_hotels_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Hotel"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Hotel"}}}, "tags": ["booking"]}, "parameters": []}, "/booking/hotels/{id}/": {"get": {"operationId": "booking_hotels_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Hotel"}}}, "tags": ["booking"]}, "put": {"operationId": "booking_hotels_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Hotel"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Hotel"}}}, "tags": ["booking"]}, "patch": {"operationId": "booking_hotels_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Hotel"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Hotel"}}}, "tags": ["booking"]}, "delete": {"operationId": "booking_hotels_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["booking"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Отель.", "required": true, "type": "string", "format": "uuid"}]}, "/booking/manager-assignments/": {"get": {"operationId": "booking_manager-assignments_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ManagerAssignment"}}}}}}, "tags": ["booking"]}, "post": {"operationId": "booking_manager-assignments_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ManagerAssignment"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ManagerAssignment"}}}, "tags": ["booking"]}, "parameters": []}, "/booking/manager-assignments/{id}/": {"get": {"operationId": "booking_manager-assignments_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ManagerAssignment"}}}, "tags": ["booking"]}, "put": {"operationId": "booking_manager-assignments_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ManagerAssignment"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ManagerAssignment"}}}, "tags": ["booking"]}, "patch": {"operationId": "booking_manager-assignments_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ManagerAssignment"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ManagerAssignment"}}}, "tags": ["booking"]}, "delete": {"operationId": "booking_manager-assignments_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["booking"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Назначение менеджера.", "required": true, "type": "string", "format": "uuid"}]}, "/booking/rooms/": {"get": {"operationId": "booking_rooms_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Room"}}}}}}, "tags": ["booking"]}, "post": {"operationId": "booking_rooms_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Room"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Room"}}}, "tags": ["booking"]}, "parameters": []}, "/booking/rooms/{id}/": {"get": {"operationId": "booking_rooms_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Room"}}}, "tags": ["booking"]}, "put": {"operationId": "booking_rooms_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Room"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Room"}}}, "tags": ["booking"]}, "patch": {"operationId": "booking_rooms_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Room"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Room"}}}, "tags": ["booking"]}, "delete": {"operationId": "booking_rooms_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["booking"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Переговорная.", "required": true, "type": "string", "format": "uuid"}]}, "/building/apartments/": {"get": {"operationId": "building_apartments_list", "description": "Квартиры ЖК:\nGET  /api/building/apartments/\nPOST /api/building/apartments/", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ResidentialComplexApartment"}}}}}}, "tags": ["building"]}, "post": {"operationId": "building_apartments_create", "description": "Квартиры ЖК:\nGET  /api/building/apartments/\nPOST /api/building/apartments/", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ResidentialComplexApartment"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ResidentialComplexApartment"}}}, "tags": ["building"]}, "parameters": []}, "/building/apartments/{id}/": {"get": {"operationId": "building_apartments_read", "description": "GET/PATCH/PUT/DELETE /api/building/apartments/<uuid>/", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ResidentialComplexApartment"}}}, "tags": ["building"]}, "put": {"operationId": "building_apartments_update", "description": "GET/PATCH/PUT/DELETE /api/building/apartments/<uuid>/", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ResidentialComplexApartment"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ResidentialComplexApartment"}}}, "tags": ["building"]}, "patch": {"operationId": "building_apartments_partial_update", "description": "GET/PATCH/PUT/DELETE /api/building/apartments/<uuid>/", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ResidentialComplexApartment"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ResidentialComplexApartment"}}}, "tags": ["building"]}, "delete": {"operationId": "building_apartments_delete", "description": "GET/PATCH/PUT/DELETE /api/building/apartments/<uuid>/", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["building"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Квартира (Building).", "required": true, "type": "string", "format": "uuid"}]}, "/building/barter-settlements/": {"get": {"operationId": "building_barter-settlements_list", "description": "Список и создание бартерных зачётов (поставщик или подрядчик).", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/BuildingSupplierBarterSettlement"}}}}}}, "tags": ["building"]}, "post": {"operationId": "building_barter-settlements_create", "description": "Список и создание бартерных зачётов (поставщик или подрядчик).", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BuildingSupplierBarterSettlementCreateUpdate"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BuildingSupplierBarterSettlementCreateUpdate"}}}, "tags": ["building"]}, "parameters": []}, "/building/barter-settlements/{id}/": {"get": {"operationId": "building_barter-settlements_read", "description": "Детали/редактирование/удаление бартерного зачёта.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BuildingSupplierBarterSettlement"}}}, "tags": ["building"]}, "put": {"operationId": "building_barter-settlements_update", "description": "Детали/редактирование/удаление бартерного зачёта.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BuildingSupplierBarterSettlementCreateUpdate"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BuildingSupplierBarterSettlementCreateUpdate"}}}, "tags": ["building"]}, "patch": {"operationId": "building_barter-settlements_partial_update", "description": "Детали/редактирование/удаление бартерного зачёта.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BuildingSupplierBarterSettlementCreateUpdate"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BuildingSupplierBarterSettlementCreateUpdate"}}}, "tags": ["building"]}, "delete": {"operationId": "building_barter-settlements_delete", "description": "Детали/редактирование/удаление бартерного зачёта.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["building"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Бартерный зачёт.", "required": true, "type": "string", "format": "uuid"}]}, "/building/barter-settlements/{id}/cancel/": {"post": {"operationId": "building_barter-settlements_cancel_create", "description": "Отмена бартерного зачёта.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BuildingSupplierBarterSettlement"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BuildingSupplierBarterSettlement"}}}, "tags": ["building"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Бартерный зачёт.", "required": true, "type": "string", "format": "uuid"}]}, "/building/barter-settlements/{id}/confirm/": {"post": {"operationId": "building_barter-settlements_confirm_create", "description": "Подтверждение бартерного зачёта (фиксируем как проведённый).", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BuildingSupplierBarterSettlement"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BuildingSupplierBarterSettlement"}}}, "tags": ["building"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Бартерный зачёт.", "required": true, "type": "string", "format": "uuid"}]}, "/building/barter/items/{id}/": {"patch": {"operationId": "building_barter_items_partial_update", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["building"]}, "delete": {"operationId": "building_barter_items_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["building"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Бартер: позиция.", "required": true, "type": "string", "format": "uuid"}]}, "/building/barter/{source_type}/{source_id}/files/": {"post": {"operationId": "building_barter_files_create", "description": "", "parameters": [{"name": "file", "in": "formData", "required": true, "type": "file"}, {"name": "title", "in": "formData", "required": false, "type": "string"}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BuildingBarterFileCreate"}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["building"]}, "parameters": [{"name": "source_type", "in": "path", "required": true, "type": "string"}, {"name": "source_id", "in": "path", "required": true, "type": "string"}]}, "/building/barter/{source_type}/{source_id}/items/": {"post": {"operationId": "building_barter_items_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["building"]}, "parameters": [{"name": "source_type", "in": "path", "required": true, "type": "string"}, {"name": "source_id", "in": "path", "required": true, "type": "string"}]}, "/building/cash-register/cashflows/{id}/files/": {"post": {"operationId": "building_cash-register_cashflows_files_create", "description": "Загрузить файл к движению по кассе.", "parameters": [{"name": "file", "in": "formData", "required": true, "type": "file"}, {"name": "title", "in": "formData", "required": false, "type": "string", "default": ""}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BuildingCashFlowFileCreate"}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["building"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Движение по кассе (Building).", "required": true, "type": "string", "format": "uuid"}]}, "/building/cash-register/requests/": {"get": {"operationId": "building_cash-register_requests_list", "description": "Список и создание заявок на кассу.", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/BuildingCashRegisterRequest"}}}}}}, "tags": ["building"]}, "post": {"operationId": "building_cash-register_requests_create", "description": "Список и создание заявок на кассу.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BuildingCashRegisterRequestCreate"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BuildingCashRegisterRequestCreate"}}}, "tags": ["building"]}, "parameters": []}, "/building/cash-register/requests/{id}/": {"get": {"operationId": "building_cash-register_requests_read", "description": "Детали заявки на кассу.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BuildingCashRegisterRequest"}}}, "tags": ["building"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Заявка на кассу (Building).", "required": true, "type": "string", "format": "uuid"}]}, "/building/cash-register/requests/{id}/approve/": {"post": {"operationId": "building_cash-register_requests_approve_create", "description": "Одобрить заявку на кассу.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BuildingCashRegisterRequestApprove"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BuildingCashRegisterRequestApprove"}}}, "tags": ["building"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Заявка на кассу (Building).", "required": true, "type": "string", "format": "uuid"}]}, "/building/cash-register/requests/{id}/files/": {"post": {"operationId": "building_cash-register_requests_files_create", "description": "Загрузить файл к заявке на кассу.", "parameters": [{"name": "file", "in": "formData", "required": true, "type": "file"}, {"name": "title", "in": "formData", "required": false, "type": "string", "default": ""}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BuildingCashRegisterRequestFileCreate"}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["building"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Заявка на кассу (Building).", "required": true, "type": "string", "format": "uuid"}]}, "/building/cash-register/requests/{id}/reject/": {"post": {"operationId": "building_cash-register_requests_reject_create", "description": "Отклонить заявку на кассу.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BuildingCashRegisterRequestReject"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BuildingCashRegisterRequestReject"}}}, "tags": ["building"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Заявка на кассу (Building).", "required": true, "type": "string", "format": "uuid"}]}, "/building/cash/flows/": {"get": {"operationId": "building_cash_flows_list", "description": "Список и создание движений Building.", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/BuildingCashFlow"}}}}}}, "tags": ["building"]}, "post": {"operationId": "building_cash_flows_create", "description": "Список и создание движений Building.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BuildingCashFlow"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BuildingCashFlow"}}}, "tags": ["building"]}, "parameters": []}, "/building/cash/flows/bulk/status/": {"patch": {"operationId": "building_cash_flows_bulk_status_partial_update", "description": "Массовое обновление статуса движений (одобрение/отклонение).", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BuildingCashFlowBulkStatus"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BuildingCashFlowBulkStatus"}}}, "tags": ["building"]}, "parameters": []}, "/building/cash/flows/{id}/": {"get": {"operationId": "building_cash_flows_read", "description": "Детали движения Building.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BuildingCashFlow"}}}, "tags": ["building"]}, "put": {"operationId": "building_cash_flows_update", "description": "Детали движения Building.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BuildingCashFlow"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BuildingCashFlow"}}}, "tags": ["building"]}, "patch": {"operationId": "building_cash_flows_partial_update", "description": "Детали движения Building.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BuildingCashFlow"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BuildingCashFlow"}}}, "tags": ["building"]}, "delete": {"operationId": "building_cash_flows_delete", "description": "Детали движения Building.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["building"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Движение по кассе (Building).", "required": true, "type": "string", "format": "uuid"}]}, "/building/cash/procurements/pending/": {"get": {"operationId": "building_cash_procurements_pending_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/BuildingProcurement"}}}}}}, "tags": ["building"]}, "parameters": []}, "/building/cash/procurements/{id}/approve/": {"post": {"operationId": "building_cash_procurements_approve_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BuildingProcurement"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BuildingProcurement"}}}, "tags": ["building"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Заявка на закупку.", "required": true, "type": "string", "format": "uuid"}]}, "/building/cash/procurements/{id}/reject/": {"post": {"operationId": "building_cash_procurements_reject_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BuildingProcurement"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BuildingProcurement"}}}, "tags": ["building"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Заявка на закупку.", "required": true, "type": "string", "format": "uuid"}]}, "/building/cashboxes/": {"get": {"operationId": "building_cashboxes_list", "description": "Список и создание касс Building.", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/BuildingCashbox"}}}}}}, "tags": ["building"]}, "post": {"operationId": "building_cashboxes_create", "description": "Список и создание касс Building.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BuildingCashbox"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BuildingCashbox"}}}, "tags": ["building"]}, "parameters": []}, "/building/cashboxes/{id}/": {"get": {"operationId": "building_cashboxes_read", "description": "Детали кассы Building.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BuildingCashbox"}}}, "tags": ["building"]}, "put": {"operationId": "building_cashboxes_update", "description": "Детали кассы Building.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BuildingCashbox"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BuildingCashbox"}}}, "tags": ["building"]}, "patch": {"operationId": "building_cashboxes_partial_update", "description": "Детали кассы Building.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BuildingCashbox"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BuildingCashbox"}}}, "tags": ["building"]}, "delete": {"operationId": "building_cashboxes_delete", "description": "Детали кассы Building.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["building"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Касса (Building).", "required": true, "type": "string", "format": "uuid"}]}, "/building/clients/": {"get": {"operationId": "building_clients_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/BuildingClient"}}}}}}, "tags": ["building"]}, "post": {"operationId": "building_clients_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BuildingClient"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BuildingClient"}}}, "tags": ["building"]}, "parameters": []}, "/building/clients/{id}/": {"get": {"operationId": "building_clients_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BuildingClientDetail"}}}, "tags": ["building"]}, "put": {"operationId": "building_clients_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BuildingClientDetail"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BuildingClientDetail"}}}, "tags": ["building"]}, "patch": {"operationId": "building_clients_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BuildingClientDetail"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BuildingClientDetail"}}}, "tags": ["building"]}, "delete": {"operationId": "building_clients_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["building"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Клиент (Building).", "required": true, "type": "string", "format": "uuid"}]}, "/building/clients/{id}/files/": {"post": {"operationId": "building_clients_files_create", "description": "Загрузить файл к клиенту.", "parameters": [{"name": "file", "in": "formData", "required": true, "type": "file"}, {"name": "title", "in": "formData", "required": false, "type": "string"}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BuildingTreatyFileCreate"}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["building"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Клиент (Building).", "required": true, "type": "string", "format": "uuid"}]}, "/building/contractors/": {"get": {"operationId": "building_contractors_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/BuildingContractor"}}}}}}, "tags": ["building"]}, "post": {"operationId": "building_contractors_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BuildingContractorCreate"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BuildingContractorCreate"}}}, "tags": ["building"]}, "parameters": []}, "/building/contractors/{id}/": {"get": {"operationId": "building_contractors_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BuildingContractor"}}}, "tags": ["building"]}, "put": {"operationId": "building_contractors_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BuildingContractor"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BuildingContractor"}}}, "tags": ["building"]}, "patch": {"operationId": "building_contractors_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BuildingContractor"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BuildingContractor"}}}, "tags": ["building"]}, "delete": {"operationId": "building_contractors_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["building"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Подрядчик (Building).", "required": true, "type": "string", "format": "uuid"}]}, "/building/contractors/{id}/files/": {"post": {"operationId": "building_contractors_files_create", "description": "", "parameters": [{"name": "file", "in": "formData", "required": true, "type": "file"}, {"name": "title", "in": "formData", "required": false, "type": "string"}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BuildingTreatyFileCreate"}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["building"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Подрядчик (Building).", "required": true, "type": "string", "format": "uuid"}]}, "/building/contractors/{id}/work-history/": {"get": {"operationId": "building_contractors_work-history_list", "description": "История процессов работ подрядчика.", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/BuildingWorkEntry"}}}}}}, "tags": ["building"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Процесс работ: запись.", "required": true, "type": "string", "format": "uuid"}]}, "/building/debts/ledger/": {"get": {"operationId": "building_debts_ledger_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/BuildingDebtLedgerEntry"}}}}}}, "tags": ["building"]}, "post": {"operationId": "building_debts_ledger_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BuildingDebtLedgerEntryCreate"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BuildingDebtLedgerEntryCreate"}}}, "tags": ["building"]}, "parameters": []}, "/building/debts/ledger/{id}/files/": {"post": {"operationId": "building_debts_ledger_files_create", "description": "", "parameters": [{"name": "file", "in": "formData", "required": true, "type": "file"}, {"name": "title", "in": "formData", "required": false, "type": "string"}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BuildingDebtLedgerFileCreate"}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["building"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Долг: запись реестра.", "required": true, "type": "string", "format": "uuid"}]}, "/building/debts/summary/": {"get": {"operationId": "building_debts_summary_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": ""}}, "tags": ["building"]}, "parameters": []}, "/building/debts/summary/{counterparty_type}/{counterparty_id}/": {"get": {"operationId": "building_debts_summary_read", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["building"]}, "parameters": [{"name": "counterparty_type", "in": "path", "required": true, "type": "string"}, {"name": "counterparty_id", "in": "path", "required": true, "type": "string"}]}, "/building/documents/purchase/": {"get": {"operationId": "building_documents_purchase_list", "description": "Совместимый с warehouse формат закупок:\nGET/POST /api/building/documents/purchase/", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/BuildingPurchaseDocument"}}}}}}, "tags": ["building"]}, "post": {"operationId": "building_documents_purchase_create", "description": "Совместимый с warehouse формат закупок:\nGET/POST /api/building/documents/purchase/", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BuildingPurchaseDocument"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BuildingPurchaseDocument"}}}, "tags": ["building"]}, "parameters": []}, "/building/documents/purchase/{id}/": {"get": {"operationId": "building_documents_purchase_read", "description": "Совместимый с warehouse формат закупки:\nGET/PATCH/PUT/DELETE /api/building/documents/purchase/<uuid:pk>/", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BuildingPurchaseDocument"}}}, "tags": ["building"]}, "put": {"operationId": "building_documents_purchase_update", "description": "Совместимый с warehouse формат закупки:\nGET/PATCH/PUT/DELETE /api/building/documents/purchase/<uuid:pk>/", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BuildingPurchaseDocument"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BuildingPurchaseDocument"}}}, "tags": ["building"]}, "patch": {"operationId": "building_documents_purchase_partial_update", "description": "Совместимый с warehouse формат закупки:\nGET/PATCH/PUT/DELETE /api/building/documents/purchase/<uuid:pk>/", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BuildingPurchaseDocument"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BuildingPurchaseDocument"}}}, "tags": ["building"]}, "delete": {"operationId": "building_documents_purchase_delete", "description": "Совместимый с warehouse формат закупки:\nGET/PATCH/PUT/DELETE /api/building/documents/purchase/<uuid:pk>/", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["building"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Заявка на закупку.", "required": true, "type": "string", "format": "uuid"}]}, "/building/documents/purchase/{id}/cash/approve/": {"post": {"operationId": "building_documents_purchase_cash_approve_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BuildingPurchaseDocument"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BuildingPurchaseDocument"}}}, "tags": ["building"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Заявка на закупку.", "required": true, "type": "string", "format": "uuid"}]}, "/building/documents/purchase/{id}/cash/reject/": {"post": {"operationId": "building_documents_purchase_cash_reject_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BuildingPurchaseDocument"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BuildingPurchaseDocument"}}}, "tags": ["building"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Заявка на закупку.", "required": true, "type": "string", "format": "uuid"}]}, "/building/drawings/": {"get": {"operationId": "building_drawings_list", "description": "GET  /api/building/drawings/  — список чертежей ЖК компании.\nPOST /api/building/drawings/  — создание чертежа и привязка к ЖК.", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ResidentialComplexDrawing"}}}}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["building"]}, "post": {"operationId": "building_drawings_create", "description": "GET  /api/building/drawings/  — список чертежей ЖК компании.\nPOST /api/building/drawings/  — создание чертежа и привязка к ЖК.", "parameters": [{"name": "residential_complex", "in": "formData", "required": true, "type": "string", "format": "uuid"}, {"name": "title", "in": "formData", "required": true, "type": "string", "maxLength": 255, "minLength": 1}, {"name": "file", "in": "formData", "required": true, "type": "file"}, {"name": "description", "in": "formData", "required": false, "type": "string", "x-nullable": true}, {"name": "is_active", "in": "formData", "required": false, "type": "boolean"}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ResidentialComplexDrawing"}}}, "consumes": ["multipart/form-data", "application/x-www-form-urlencoded"], "tags": ["building"]}, "parameter
[...]
